<header>
  <nav>
    <div id="leftNav">
      <a href="/home">Play Blackjack</a>
      <a href="/account">Account</a>
      <a href="/leaderboard">All Players</a>
      <a href="/cpus">My CPUs</a>
    </div>

    <div id="rightNav">
      <% if (currentUser) { %>
        <span style="margin-left: 10px;">
          <strong>
            <%= currentUser.username %>
          </strong>
        </span>
        <a href="/logout" style="margin-left: 10px;">Logout</a>
        <% } else { %>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          <% } %>
    </div>
  </nav>
</header>